// Events
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	box-sizing: border-box;
}
.nav-menu {
	width: 100%;
}

.show-submenu {
	height: auto;
	position: relative;
}

.list-pages > li:last-child a {
	background: none;
}
.list-pages > li:last-child:hover {
	background: rgba(255, 255, 255, 0.5);
	transition: all 1s;
	transform: scale(1.03);
}
.list-pages > li > a:hover {
	background-size: 100% 2px;
	transform: scale(1.03);
}
.list-pages > li > a {
	padding-bottom: 10px;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.3s;
}

.list-pages .show-submenu:hover > ul {
	opacity: 1;
	visibility: visible;
}
.list-pages .show-submenu > ul {
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;
	border-radius: 10px;
	background: #001872;
	position: absolute;

	padding: 15px;
	width: 300%;
}

.list-subpages li {
	padding: 5px;
	width: 90%;
}

.list-subpages li:hover {
	transform: scale(1.03);
	transition: all 0.5s;
	background: rgba(255, 255, 255, 0.2);
}
.list-pages li a:hover {
	background-size: 100% 2px;
}

.btn-contact:hover {
	background: #00071e;
	transform: scale(1.03);
	transition: all 1s;
}
.btn-info:hover {
	background: #18638562;
	transform: scale(1.03);
	transition: all 1s;
}

.container-hero {
	animation-duration: 2s;
	animation-name: slidein;
}

.info-thr {
	position: relative;
	z-index: 30;
}
.btn-read button {
	cursor: pointer;
	transition-duration: 0.4s;
}
.img-animation {
	transition-duration: 2s;
}
.img-animation:hover {
	transform: scale(1.04);
}

.btn-read button:hover {
	background: rgba(188, 255, 255, 0.671);
	transform: scale(1.1);
}
.btn-service button {
	transition: all 1s;
}
.btn-service button:hover {
	background: #001357;
	transform: scale(1.04);
}

// Burguer menú

.mobile-menu {
	padding: 0 140px;
	position: sticky;
	top: 0;
	z-index: 1150;
	height: inherit;
	height: auto;

	background: #00adff;
}
.list-pages {
	visibility: visible;
	opacity: 1;
}

$color: white;

$height-icon: 50px;
$width-line: 100px;
$height-line: 8px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger-icon {
	width: $width-line;
	height: $height-icon;
	position: relative;
	display: block;
	margin: ($height-icon * 2) auto $height-icon auto;

	.line {
		display: block;
		background: $color;
		width: $width-line;
		height: $height-line;
		position: absolute;
		left: 0;
		border-radius: ($height-line / 2);
		transition: all $transition-time;
		-webkit-transition: all $transition-time;
		-moz-transition: all $transition-time;

		&.line-1 {
			top: 0;
		}
		&.line-2 {
			top: 50%;
		}
		&.line-3 {
			top: 100%;
		}
	}
	&:hover,
	&:focus {
		.line-1 {
			transform: translateY($height-line / 2 * -1);
			-webkit-transform: translateY($height-line / 2 * -1);
			-moz-transform: translateY($height-line / 2 * -1);
		}
		.line-3 {
			transform: translateY($height-line / 2);
			-webkit-transform: translateY($height-line / 2);
			-moz-transform: translateY($height-line / 2);
		}
	}
	&.active {
		.line-1 {
			transform: translateY($translateY) translateX($translateX)
				rotate($rotation);
			-webkit-transform: translateY($translateY) translateX($translateX)
				rotate($rotation);
			-moz-transform: translateY($translateY) translateX($translateX)
				rotate($rotation);
		}
		.line-2 {
			opacity: 0;
		}
		.line-3 {
			transform: translateY($translateY * -1) translateX($translateX)
				rotate($rotation * -1);
			-webkit-transform: translateY($translateY * -1) translateX($translateX)
				rotate($rotation * -1);
			-moz-transform: translateY($translateY * -1) translateX($translateX)
				rotate($rotation * -1);
		}
	}
}

a {
	text-decoration: none;
	color: #95a5a6;
	margin: 0.5em 1.5em;
	display: inline-block;
	&:hover,
	&:focus {
		color: $color;
	}
}

#hamburger-icon {
	display: none;
}

// @media (min-width: 500px) and (max-width: 767px) {
// 	.list-pages {
// 		visibility: hidden;
// 		opacity: 0;
// 	}

// 	.hero-container {
// 		margin: 0;
// 	}
// 	.mobile-menu {
// 		padding: 0;

// 		.hamburger-container {
// 			display: flex;
// 			align-items: center;
// 		}
// 		#hamburger-icon {
// 			margin: 0;
// 			display: block;
// 		}
// 	}

// 	.nav-menu {
// 		padding: 5px 30px;
// 	}
// 	.list-pages {
// 		flex-direction: column;
// 		background: black;
// 		position: absolute;
// 		top: -15px;
// 		left: 0;
// 		width: 100%;
// 		height: 800%;
// 		transition: all 1s;
// 		justify-content: center;
// 		li {
// 			margin: 0;
// 			margin-bottom: 20px;
// 		}
// 	}

// 	.img-container {
// 		position: relative;
// 		z-index: 100;
// 	}

// 	.intro-section {
// 		height: 120vh;
// 		margin: 70px 30px;
// 	}
// 	.img-decoration {
// 		top: 270px;
// 	}
// 	.hability-container {
// 		padding: 95px 30px;
// 		.card {
// 			flex-direction: column;
// 			justify-content: center;

// 			align-items: center;
// 			box-shadow: 12px 14px 33px -5px rgba(0, 0, 0, 0.47);
// 			padding: 40px;
// 			margin: 50px 50px;
// 			.card-body {
// 				margin-top: 20px;
// 				margin-bottom: 20px;
// 			}
// 			text-align: center;
// 			align-items: center;
// 			width: 80%;
// 			width: 50%;
// 			text-align: center;
// 		}
// 	}
// 	.service-container {
// 		padding: 95px 30px;
// 	}
// 	#service > div > div.scard-container > div.service-card.aos-init.aos-animate {
// 		margin-bottom: 50px;
// 	}
// }

@media (min-width: 320px) and (max-width: 700px) {
	html {
		width: 100%;
	}
	.list-pages {
		visibility: hidden;
		opacity: 0;
	}

	.hero-container {
		margin: 0;
	}
	.mobile-menu {
		padding: 0;

		.hamburger-container {
			display: flex;
			align-items: center;
		}
		#hamburger-icon {
			width: 50px;
			height: 22px;
			.line {
				width: 50px;
				height: 5px;
			}
			margin: 0;
			display: block;
		}
		#hamburger-icon.active .line-1 {
			transform: translateY(25px) translateX(0) rotate(45deg);
			-webkit-transform: translateY(0px) translateX(0) rotate(679deg);
			-moz-transform: translateY(25px) translateX(0) rotate(45deg);
		}

		#hamburger-icon.active .line-3 {
			transform: translateY(-25px) translateX(0) rotate(-28deg);
			-webkit-transform: translateY(-23px) translateX(0) rotate(47deg);
			-moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
		}
	}

	.nav-menu {
		.img-container{
			height: 60px;
			margin:0;
			margin-bottom: 10px;
		} 
		.list-pages {
			display: none;
		}
		padding: 5px 30px;
	}
	.list-pages {
		flex-direction: column;
		background: black;
		position: absolute;
		top: -15px;
		left: 0;
		width: 90%;
		height: 800%;
		transition: all 1s;
		justify-content: center;
		li {
			margin: 0;
			margin-bottom: 20px;
		}
	}

	.hero-info {
		width: auto;
		padding: 0 30px;
		height: auto;
		position: absolute;
		top: inherit;
		right: inherit;
		h1 {
			font-size: 40px;
			line-height: 50px;
		}
		p {
			width: 100%;
			line-height: 25px;
			font-size: 15px;
		}
		button {
			width: 50%;
			margin-bottom: 25px;
		}
	}
	body > header > div > div.img-hero-container > img {
		width: 100%;
	}
	.stick-hero {
		display: none;
	}
	.img-container {
		position: relative;
		z-index: 100;
	}

	.intro-section {
		height: 120vh;
		margin: 0;
    padding: 70px 30px;
		h2 {
			font-size: 40px;
		}
		p {
			width: 100%;
		}
		a {
			margin: 0;
		}
		button {
			padding: 10px 30px;
			font-size: 20px;
		}
	}
	.img-decoration {
		top: 400px;
	}
	.hability-container {
		.hability-title h2 {
			font-size: 40px;
		}
		.img-animation {
			width: 100%;
			img {
				width: inherit;
				height: auto;
			}
		}
		padding: 95px 30px;
		.card {
			flex-direction: column;
			justify-content: center;

			align-items: center;
			box-shadow: 12px 14px 33px -5px rgba(0, 0, 0, 0.47);
			width: 90%;
			padding: 10px;
			margin: auto;
			margin-bottom: 50px;
			.card-body {
				margin-top: 20px;
				margin-bottom: 20px;
				width: 90%;
				word-wrap: break-word;
				h2 {
					width: 100%;
					font-size: 25px;
					word-wrap: break-word;
				}
			}
			text-align: center;
			align-items: center;

			text-align: center;
		}
	}
	.decoration {
		height: 200%;
	}
	.services-container {
		padding: 30px 0;
	}
	#service > div > div.services-title.aos-init.aos-animate > h2 {
		margin-bottom: 50px;
		font-size: 40px;
	}

	#service > div > div.scard-container > div.service-card.aos-init.aos-animate {
		margin: auto;
		margin-bottom: 50px;
	}

	.footer-section {
		padding: 20px;
		flex-direction: column;
		.logo-foot img {
			width: 125px;
			height: 60px;
		}
		.foot-container {
			flex-direction: column;
			.foot-1 {
				display: flex;
				flex-direction: column;
			}
			.foot-2 {
				display: flex;
				flex-direction: column;
			}
			.foot-3 {
				display: flex;
				flex-direction: column;
			}
		}
	}
	.nav-menu {
		width: inherit;
		height: 60px;
	}
	.list-pages {
		display: none;
	}
	.mobile-nav{
		display:flex;
		width: 100%;
	}
	.mobile-list {
		display: flex;
		padding-top:60px;
		transition: all 1s ease;
		position: fixed;
		background: black;
		z-index: 1010;
		width: 100%;
		height: 100%;
		left: -100%;
		font-size: 20px;
    	font-family: 'Roboto';
		text-align: center;
		
		.mobile-ul{
			text-align: start;
			margin-top: 50px;
			padding:0;
		}
		.list-subpages{
			max-height: 0;
			visibility: hidden;
			opacity: 0;
			transition: all 1s ease-out;
		}
		.active-subpages{
			visibility:visible;
			max-height:500px;
			opacity:1;
		}
		
		.mobile-ul li{
			list-style: none;

		}
		.mobile-ul li a{
			text-decoration: none;
			color:white;
		}
	}
}
