// Events
html {
	scroll-behavior: smooth;
}

.show-submenu {
	height: auto;
	position: relative;
}
.list-pages > li:last-child a {
	background: none;
}
.list-pages > li:last-child:hover {
	background: rgba(255, 255, 255, 0.5);
	transition: all 1s;
	transform: scale(1.03);
}
.list-pages > li > a:hover {
	background-size: 100% 2px;
	transform: scale(1.03);
	animation: loading 0.6s linear 3;

	@keyframes loading {
		0% {
			transform: rotateX(0);
		}
		100% {
			transform: rotateX(180deg);
		}
	}
}
.list-pages > li > a {
	padding-bottom: 10px;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.3s;
}

.list-pages li > ul {
	z-index: 900;
}
.list-pages .show-submenu:hover > ul {
	opacity: 1;
	visibility: visible;
}
.list-pages .show-submenu > ul {
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;
	border-radius: 10px;
	background: #001872;
	position: absolute;
	top: 145%;
	padding: 15px;
	width: 300%;
}

.list-subpages li {
	padding: 5px;
	width: 90%;
}

.list-subpages li:hover {
	transform: scale(1.03);
	transition: all 0.5s;
	background: rgba(255, 255, 255, 0.2);
}
.list-pages li a:hover {
	background-size: 100% 2px;
}

.btn-contact:hover {
	background: #00071e;
	transform: scale(1.03);
	transition: all 1s;
}
.btn-info:hover {
	background: #18638562;
	transform: scale(1.03);
	transition: all 1s;
}


.container-hero {
	animation-duration: 2s;
	animation-name: slidein;
}

.info-thr{
	position: relative;
	z-index: 30;
}
.btn-read button{
	cursor: pointer;
	transition-duration: 0.4s;

}
.img-animation{
	transition-duration: 2s;

}
.img-animation:hover{
	transform: scale(1.04);
}

.btn-read button:hover{
	
	background:rgba(188, 255, 255, 0.671);
	transform: scale(1.1);
}
.btn-service button{
	transition: all 1s;
}
.btn-service button:hover{
	background:#001357;
	transform: scale(1.04);
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}


// Burguer menú

* {
	transition:.25s ease-in-out;
	box-sizing:border-box;
  }
  
  span {
	display:block;
	background:#566973;
	border-radius:2px;
  }
  
  #menu-toggle {
	width:100px;
	height:100px;
	margin:50px auto;
	position:relative;
	position:relative;
	cursor:pointer;
	background:rgba(255,255,255,.4);
	border-radius:5px;
	&:hover {
	  background:rgba(255,255,255,.8);
	}
	#hamburger {
	  position:absolute;
	  height:100%;
	  width:100%;
	  span {
		width:60px;
		height:4px;
		position:relative;
		top:24px;
		left:20px;
		margin:10px 0;
		&:nth-child(1){
		  transition-delay:.5s;
		}
		&:nth-child(2){
		  transition-delay:.625s;
		}
		&:nth-child(3){
		  transition-delay:.75s;
		}
	  }
	}
	#cross {
	  position:absolute;
	  height:100%;
	  width:100%;
	  transform:rotate(45deg);
	  span{
		&:nth-child(1){
		  height:0%;
		  width:4px;
		  position:absolute;
		  top:10%;
		  left:48px;
		  transition-delay:0s;
		}
		&:nth-child(2){
		  width:0%;
		  height:4px;
		  position:absolute;
		  left:10%;
		  top:48px;
		  transition-delay:.25s;
		}
	  }
	}
  }
  
  #menu-toggle.open {
	#hamburger {
	  span {
		width:0%;
		&:nth-child(1){
		  transition-delay:0s;
		}
		&:nth-child(2){
		  transition-delay:.125s;
		}
		&:nth-child(3){
		  transition-delay:.25s;
		}
	  }
	}
	#cross {
	  span {
		&:nth-child(1){
		  height:80%;
		  transition-delay:.625s;
		}
	  }
	  span {
		&:nth-child(2){
		  width:80%;
		  transition-delay:.375s;
		}
	  }    
	}
  }

  #menu-toggle{
	  display:none;
  }

  .mobile-menu{
	padding: 0 140px;
    position: sticky;
	top:0;
	z-index: 1100;
    height: inherit;
    height: auto;
    width: 100%;
    background: #00adff;
  }
  .list-pages{
	  visibility:hidden;
	  opacity:0;
  }


  @media (min-width: 320px) and (max-width: 767px) {
	.hero-section {
		background-color: red;
	}
	
	.hero-container{
		margin: 0;
	}
	.mobile-menu{
		padding: 0;
		.img-container{
			width: auto;
			height: auto;
		}
		#menu-toggle{
		display: block;
		z-index: 100;
		height: auto;
		margin: 0;
		/* left: 0; */
		right: 0;
			
		}

	}
	.hamburger{
				background: none;
				display: flex;
				flex-direction: column;
				align-items: center; 
				justify-content: center;
				.line{
					position: initial !important;
					margin: 5px 0 !important;
				}
			}
	#cross{
		
		
	}
			
	.nav-menu{
		padding: 5px 10px;
		
	}
	.list-pages{
		flex-direction:column;
		background: blue;
		position: absolute;
		top: -15px;
		left: 0;
		width: 100%;
		height: 800%;
		transition: all 1s;
		justify-content: center;
		li{
			margin: 0;
			margin-bottom: 20px;
		}
	}
	
	.img-container{
		position: relative;
		z-index: 100;
	}

	}
