/* Section Theme  */
.sections-page p {
  font-family: "Roboto", "sans-serif";
}
.section-page {
  position: absolute;
  width: 50vh;
}

.section-one h1 {
  font-family: "Poppins", "sans-serif";
}
.section-one {
  margin-top: 20px;
  padding: 0 140px;
  position: relative;
}

.img-title {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.img-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shadow {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  height: 300px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 72px;
  text-align: center;
}

.map {
  display: flex;
  margin: 50px 0;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 6px 15px 24px 2px rgba(0, 0, 0, 0.41);
}
.map h1 {
  font-family: "Poppins", "sans-serif";
  font-weight: 500;
  font-size: 36px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.title img {
  width: 100px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  padding: 30px;
  box-shadow: 6px 15px 24px 2px rgba(0, 0, 0, 0.41);
  font-family: "Roboto";
  position: relative;
  overflow: hidden;
}

.form-contact input,
.form-contact textarea {
  width: 80%;
  height: 40px;
  border: none;
  border: 1px solid #363636;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
  resize: none;
  overflow: auto;
  outline: 1px solid #c0c0c0;
  border: none;
}
.form-contact h2 {
  font-size: 72px;
  color: white;
}
.form-contact img {
  position: absolute;
  top: 0;
  width: 210%;
  height: 387%;
  z-index: 50;
}
.content-format {
  position: relative;
  z-index: 100;
}
.form-contact textarea {
  height: auto;
}
.form-contact input:focus,
.form-contact textarea:focus {
  outline: 2px solid #00adff;
  border: none;
}
.form-contact label {
  font-family: "Roboto";
  font-size: 20px;
  width: 80%;
  color: white;
}
.form-contact button {
  padding: 15px 50px;
  border-radius: 10px;
  border: 1px solid white;
  background: #00adff;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
}
.form-contact button:hover {
  background: #e1e1e1;
  color: #00adff;
}

@media (min-width: 320px) and (max-width: 700px) {
  .section-one {
    padding: 0;
    margin: 0;
  }
  .shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }
  .map {
    flex-direction: column;
    margin: 50px 20px;
  }
  .map iframe {
    width: 100%;
    height: 300px;
    margin-top: 43px;
  }
  .form-contact {
    overflow: hidden;
    margin: 50px 20px;
  }
  .form-contact img {
    height: 200%;
    width: 190%;
  }
  .content-format {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .content-format h2 {
    color: white;
    font-size: 40px;
  }
  .content-format button{
    align-self: end;
    border:1px solid white;
    width: 50%;
    margin-top: 20px;
  }
  .content-format label {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 16px;
    color: white;
  }
}
